body {
    background-image: url("/static/img/archbg.jpg");
    padding: 2em 0 0 3em;
    font-size: 1.65em;
}

.subbg {
    background-image: url("/static/img/Gateway_Arch_July_2012.jpg");
}

.helpstlbg {
    background-image: url("/static/img/STL_Skyline_2007_crop.jpg");
}

input {
    margin-top: .5em;
    padding-left: 5px;
}

a:hover {
    text-decoration: none;
}

button {
    margin: 1em 1em 0em 0em;
    padding: .5em 1em;
    border-radius: 10px;
    opacity: .75;
}

h1 {
    font-size: 6em;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 .glyphicon-plus {
    font-size: .8em;
    color: white;
}

h3 {
    margin-top: 15px;
}

.content {
    width: 90%;
}

.main {
    opacity: .9;
}

.login {
    padding-top: 0em;
}

.green {
    color: #67b168;
}

.helpreq {
    margin-top: 2em;
    width: 600px;
}

.info {
    height: 150px;
    width: 500px;
    vertical-align: top;
}

.subtable {
    vertical-align: top;
}

.sololine {
    margin-top: 1em;
}

td {
    vertical-align: top;
}

@media screen and (max-width: 525px) {

    body {
        padding: 1.5em 0em 0em 3em;
    }

    h1 {
        font-size: 5em;
    }

}


/* Smartphone in portrait mode */
@media screen and (max-width: 400px) {

    body {
        padding: 1em 0em 0em 2em;
    }

    h1 {
        font-size: 4.75em;
    }

}