body {
    background-image: url("/static/img/archbg.jpg");
    padding: 2em 0 0 4em;
    font-size: 1.65em;
}

input {
    margin-top: .5em;
    padding-left: 5px;
}

button {
    margin: 1em 1em 0em 0em;
    padding: .5em 1em;
    border-radius: 10px;
    opacity: .75;
}

h1 {
    font-size: 6em;
    margin-bottom: 0px;  <!-- clearing Boostrap rule -->
}

h1 .glyphicon-plus {
    font-size: .8em;
}

h3 {
    margin-top: 15px;
}

.content {
    width: 90%;
}

.main {
    opacity: .9;
}

.login {
    padding-top: 2em;
}

.green {
    color: #67b168;
}




@media screen and (max-width: 525px) {

    body {
        padding: 1.5em 0em 0em 3em;
    }

    h1 {
        font-size: 5em;
    }

}


/* Smartphone in portrait mode */
@media screen and (max-width: 400px) {

    body {
        padding: 1em 0em 0em 2em;
    }

    h1 {
        font-size: 4.75em;
    }

}