{% extends 'landing/index.html' %}

{% block main %}
    <h3>Be a Good Samaritan, or find one</h3>
    <div class="mission">
        <p>HelpStl is the good deed facilitator. We let locals tell their stories and ask the community for any kind of help or favor needed - donations for medical bills, a ride to a doctor's appointment, home or auto repair, literally anything. Compassionate donors/do-gooders answer the call when they're willing and able - when someone's story touches them. HelpStl captures unharnessed humanitarian potential and puts it to work on your block.</p>
    </div>
    <a href="/helpstl/"><button>I want to help</button></a>
    <a href="/submit/"><button>I need help</button></a>


{% endblock %}