{% extends 'landing/index.html' %}

{% block main %}

    <style>
        body {
            background-image: url("/static/img/STL_Skyline_2007_crop.jpg");
            background-size: cover;
        }
    </style>

    <table class="subtable">
        <tr>
            <td class="helpreq">
                <h3>Tell your community what you need</h3>
                <form action="/submit/" method="post">
                    First name: <input type="text" name="fname" placeholder="First name"><br />
                    Last name: <input type="text" name="lname" placeholder="Last name"><br />
                    Email address: <input type="text" name="email" placeholder="Email address"><br />
                    Phone number: <input type="text" name="phone" placeholder="Phone number"><br />
                    Date of birth: <input type="text" name="dob" placeholder="Date of birth"><br /><br />
                    Describe who you are, what you need help with and why:<br />
                    <input type="text" class="info" name="info"><br />
                    <button type="submit">Submit</button>
                </form>
            </td>

            <td class="login">
                <h3>Login or register (not required)</h3>
                <form action="" method="post">
                    <input autofocus name="username" placeholder="Username"><br />
                    <input type="password" name="password" placeholder="Password"><br />
                    <button type="submit">Log in</button><button type="register">Register</button>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}