{% extends 'landing/index.html' %}

{% block main %}

    <style>

    body {
        background-image: url("/static/img/Gateway_Arch_July_2012.jpg");
    }

    </style>

    {%  for helpreq in helpreqs %}
            <li class="row" data-task-id="{{ helpreq.id }}">
                <div class='col-lg-6'>{{ helpreq.headline }}</div>
                <div class='task-name infoDiv col-lg-6'>
                    <div class="col-sm-4 date">{{ task.created }}</div>
                    <div class="col-sm-4 glyphicon glyphicon-trash"></div>
                    <div class="col-sm-4 glyphicon glyphicon-repeat"></div>
                </div>
            </li>
    {% endfor %}

{% endblock %}