{% extends 'landing/index.html' %}

{% block main %}

    <style>

    body {
        background-image: url("/static/img/Gateway_Arch_July_2012.jpg");
    }

    </style>

    <table class="container">

        <tr class="row">
            <td class="col-lg-6"><h3>Headline</h3></td>
            <td class="col-lg-3"><h3>Date</h3></td>
            <td class="col-lg-2"><h3>Author</h3></td>
            <td class="col-lg-1"><h3>Location</h3></td>
        </tr>

        {% for helpreq in helpreqs %}

            <tr class="row" data-task-id="{{ helpreq.id }}">
                <td class='col-lg-6'><a href="request.html?id={{ helpreq.id }}">{{ helpreq.headline }}</a></td>
                <td class="col-lg-3 date">{{ helpreq.date }}</div></td>
                <td class="col-lg-2">{{ helpreq.first_name }} {{ helpreq.last_name }}</div></td>
                <td class="col-lg-1">{{ helpreq.zip }}</div></td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}