{% extends 'landing/index.html' %}

{% block main %}

    <style>

    body {
        background-image: url("/static/img/Gateway_Arch_July_2012.jpg");
    }

    </style>

    <table class="container">

        <div class="row">
            <h3 class="col-lg-6">Headline</h3>
            <h3 class="col-lg-3">Date</h3>
            <h3 class="col-lg-2">Author</h3>
            <h3 class="col-lg-1">Location</h3>
        </div>

        {% for helpreq in helpreqs %}

            <div class="row" data-task-id="{{ helpreq.id }}">
                <h24 class='col-lg-6'><a href="request.html?id={{ helpreq.id }}">{{ helpreq.headline }}</a></h24>
                <div class="col-lg-3 date">{{ helpreq.date }}</div>
                <div class="col-lg-2">{{ helpreq.first_name }} {{ helpreq.last_name }}</div>
                <div class="col-lg-1">{{ helpreq.zip }}</div>
            </div>

        {% endfor %}

    </table>

{% endblock %}